{% extends 'base.html.twig' %}

{% block title %}Modificar producto{% endblock %}

{% block head %}
    {{ parent() }}

{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code {  padding: 2px 6px; }
</style>
<!-- Incluir la versión reducida de quagga de un archivo local -->
<script src="quagga.min.js"></script>

<!-- O usa un CDN -->
<script src="https://cdn.rawgit.com/serratus/quaggaJS/0420d5e0/dist/quagga.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="example-wrapper" style="background-color: rgb(255, 0, 0,0.0)">

{% for message in app.flashes('exito') %}
      <div class="alert alert-success">
         {{message}}     
      </div>    
{% endfor %}


 <div class="row">
    <div class="col-sm-2">

    </div>    
    <div class="col-sm-8 tarjeta-body item-content " style="background-color: white; border-radius: 9px 9px 9px 9px;-moz-border-radius: 9px 9px 9px 9px; -webkit-border-radius: 9px 9px 9px 9px; border: 0px solid #000000; -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41); box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.41);">
          <br>
          <h4 class="display-5">Modificar Producto</h4>  

		
          <br>
            {{ include('app/producto/_form.html.twig', {'button_label': 'Guardar cambios'}) }}
           <div class="col-12" align="center">
                <br>
           </div>
          <hr style="border:2px;">
          <div class="col-12" align="center">
              <br>
			  {{ include('app/producto/_delete_form.html.twig') }}
			</div>
 
    <br>
</div>
</div>
</div>
</div>
<br>

{% endblock %}