<!DOCTYPE html>
<html>
<head>
  <!-- Site made with Mobirise Website Builder v5.6.8, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.6.8, mobirise.com">
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image:src" content="">
  <meta property="og:image" content="">
  <meta name="twitter:title" content="Home">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/l1.png" type="image/x-icon">
  <meta name="description" content=""> 
  <title>{% block title %}KePrecios!{% endblock %}</title>
  {% block stylesheets %}
	  <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
	  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
	  <link rel="stylesheet" href="assets/parallax/jarallax.css">
	  <link rel="stylesheet" href="assets/animatecss/animate.css">
	  <link rel="stylesheet" href="assets/dropdown/css/style.css">
	  <link rel="stylesheet" href="assets/socicon/css/styles.css">
	  <link rel="stylesheet" href="assets/theme/css/style.css">
	    <link href="assets/glightbox/css/glightbox.min.css" rel="stylesheet">
	  <link href="assets/remixicon/remixicon.css" rel="stylesheet">
	  <link href="assets/swiper/swiper-bundle.min.css" rel="stylesheet">
	   <link href="assets/aos/aos.css" rel="stylesheet">
	  <link rel="preload" href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
	  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Solid:100,300,400,900&display=swap"></noscript>
	  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
	  <link rel="stylesheet" href="assets/mobirise/css/styleskp.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  {% endblock %}

  
</head>
<body >


{% block body %}

{% endblock %}


 {% block javascripts %}
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  <script src="assets/parallax/jarallax.js"></script>  <script src="assets/smoothscroll/smooth-scroll.js"></script>  <script src="assets/ytplayer/index.js"></script>  <script src="assets/dropdown/js/navbar-dropdown.js"></script>  <script src="assets/theme/js/script.js"></script>  
  
  

    <input name="animation" type="hidden">
   <script src="assets/aos/aos.js"></script>
  <script src="assets/glightbox/js/glightbox.min.js"></script>
  <script src="assets/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
{% endblock %}

  </body>
 

<style>
.modal-content {

  max-height: 400px;
  overflow-y: auto;
}
</style>
<script>

 </script>
</html>